/*定义公共颜色样式*/
/*文字颜色*/
$black_c:#000000;

/*白色*/
$wihte_c:#fff;

/*再深一点颜色*/
$deep_c:#333;

/*文字灰*/
$grey_c:#999;

/*深灰*/
$bottle_grey_c:#666;

/*首页底部导航*/
$nav_tabbar:#fafafa;

/*外框颜色*/   
$bord_c:#ededed;  

/*底色*/
$bottom_c:#f5f5f5;

/*浅绿色*/
$lightgreen:#CCEFE0;

/*绿色*/
$green_c:#00ae66; 

/*深绿色文字*/
$bottle_t_green:#00ae66;

/*深绿色*/
$bottle_green:#009c5b;

/*黄色*/
$yellow_c:#ebab12;  

/*蓝色*/
$blue_c:#2196f3;  

/*红色*/
$redc_c:#f33f33;

/*购物车标题*/
$buytit_c:#091B28;

/*不可赠送红*/
$buysong_c:#FF0000;

/*定义固定文字尺寸*/
$font10:10px;

$font12:12px;

$font13:13px;

$font14:14px;

$font16:16px;

$font17:17px;

$font18:18px;